$main-section-bg-color: rgb(247, 247, 247);
$main-color: #272a39;
$btn-color: #ffffff;
$btn-bg-color: #bad643;
$discount-bg-color: #f71757;
$footer-links-color: #a8aab0;
$date-bg-color: #ffde68;
$arrow-color: #9092a0;
$form-bordr: #e0e0e0;
$form-category: #272a39;
$favourites-bg-color: #eb1b1b;
$input-range: #f2f2f2;
$social-icons: #dadada;
