.aside {
  width: 340px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  button {
    border: none;
    background-color: $btn-color;
  }
  &__main {
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, auto);
    column-gap: 5px;
    padding: 20px;
    border-radius: 12px;
    height: 156px;
    background-color: $btn-color;
    .item1 {
      grid-column: 1 / span 3;
    }
    .item2 {
      grid-column: 4 / span 3;
    }
    .item3 {
      grid-column: 7 / span 2;
    }
    .item4 {
      grid-column: 1 / span 3;
    }
    .item5 {
      grid-column: 4 / span 2;
    }
    .item6 {
      grid-column: 6 / span 2;
    }
    .item7 {
      grid-column: 1 / span 4;
    }
    .item8 {
      grid-column: 5 / span 4;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px;
    border: 1px solid rgba(209, 206, 206, 0.627);
    border-radius: 10px;
    p {
      padding-top: 1px;
      border: none;
      background-color: $btn-color;
    }
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    a {
      @extend %main__product;
      color: $main-color;
    }
    &:nth-child(8) {
      background-color: rgba(209, 206, 206, 0.627);
    }
  }
}
@media (max-width: 1339px) {
  .aside {
    padding-top: 10px;
    width: 300px;
    &__main {
      padding: 15px;
      grid-template-columns: repeat(5, auto);
      .item1 {
        grid-column: 1 / span 2;
      }
      .item2 {
        grid-column: 3 / span 2;
      }
      .item3 {
        grid-column: 1 / span 2;
      }
      .item4 {
        grid-column: 3 / span 2;
      }
      .item5 {
        grid-column: 1 / span 2;
      }
      .item6 {
        grid-column: 3 / span 2;
      }
      .item7 {
        grid-column: 1 / span 4;
      }
      .item8 {
        grid-column: 1 / span 4;
      }
    }
    &__item {
      padding: 2px;
      gap: 8px;
      img {
        width: 15px;
        height: 15px;
      }
      a {
        font-size: 12px;
        line-height: 14px;
      }
      &:nth-child(8) {
        background-color: rgba(209, 206, 206, 0.627);
      }
    }
  }
}
