.header__line {
  border-bottom: 1px solid $form-bordr;
  position: relative;
  top: 60px;
}

.header-down {
  display: flex;
  gap: 6px;
  &__list {
    display: flex;
    gap: 59px;
    a {
      @extend %product;
      color: $main-color;
    }
  }
}

@media (max-width: 1347px) {
  .header-down {
    &__list {
      gap: 58px;
    }
  }
}
@media (max-width: 1339px) {
  .header-down {
    &__list {
      gap: 44px;
      a {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
}
@media (max-width: 1073px) {
  .header-down {
    &__list {
      gap: 35px;
    }
  }
}
