.header {
  .header-up {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    &__city {
      color: $main-color;
      border: none;
      margin-right: 93.5px;
      @extend %links;
    }
    &__list {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-right: 480.5px;
      a {
        @extend %links;
        color: $main-color;
      }
    }
    &__lang {
      display: flex;
      align-items: center;
      .contact__box {
        margin-right: 34.56px;
        img {
          width: 14.98px;
          margin-right: 9.52px;
        }
        display: flex;
        align-items: center;
        @extend %links;
        a {
          color: $main-color;
        }
      }
      .flag__box {
        display: flex;
        gap: 8px;
        align-items: center;
        select {
          @extend %links;
          border: none;
          color: $main-color;
        }
      }
    }
  }
  .header-main {
    padding: 17px 0 32px;
    display: flex;
    align-items: center;
    &__category {
      margin-left: 34.88px;
      display: flex;
      align-items: center;
      gap: 13px;
      background-color: $btn-bg-color;
      padding: 13px 21px 13px 19px;
      border-radius: 10px;
      a {
        @extend %btn-category;
        color: $btn-color;
      }
    }
    &__form {
      width: 680px;
      margin-left: 18px;
      display: flex;
      align-items: center;
      border: 1px solid $form-bordr;
      border-radius: 10px;
      .hMain__select {
        margin-left: 18px;
        border: none;
        border-right: 1px solid $form-bordr;
        color: $form-category;
        @extend %btn-place;
      }
      label {
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        width: 676px;
        input {
          padding: 13.5px 0;
          position: relative;
          z-index: 4;
          width: 88%;
          padding-left: 15px;
          @extend %links;
          border: none;
          outline: none;
        }
      }
    }
    .hMain__search {
      display: flex;
      padding: 10px 25px;
      background-color: $form-bordr;
      border-radius: 10px;
      position: relative;
      bottom: 0;
      right: 70px;
      z-index: 2;
    }
    &__list {
      display: flex;
      align-items: center;
      text-align: center;
      position: relative;
      .favourites {
        position: absolute;
        top: -11px;
        left: 59px;
      }
    }
    &__item {
      display: flex;
      gap: 14px;
      padding-left: 24px;
      align-items: center;
      &:nth-child(1) {
        margin-right: calc(38.5px - 14px);
      }
      &:nth-child(2) {
        margin-right: calc(54.5px - 14px);
      }
      .icon {
        width: 18px;
        height: 16px;
      }
      a {
        @extend %links;
      }
      .line {
        width: 0.5px;
        height: 24px;
      }
    }
  }
  .header-down {
    &__list {
      display: flex;
      gap: 59px;
      .present {
        @extend %present-box;
      }
      a {
        @extend %product;
        color: $main-color;
      }
    }
  }
}
