.header-main {
  padding: 17px 0 32px;
  display: flex;
  align-items: center;
  &__category {
    margin-left: 34.88px;
    display: flex;
    align-items: center;
    gap: 13px;
    background-color: $btn-bg-color;
    padding: 13px 21px 13px 19px;
    border-radius: 10px;
    a {
      @extend %btn-category;
      color: $btn-color;
    }
  }
  &__form {
    margin-right: 30px;
    width: 720px;
    margin-left: 18px;
    display: flex;
    align-items: center;
    border: 1px solid $form-bordr;
    border-radius: 10px;
    position: relative;
    z-index: 9;
    .hMain__select {
      margin-left: 18px;
      border: none;
      border-right: 1px solid $form-bordr;
      color: $form-category;
      @extend %btn-place;
    }
    label {
      position: relative;
      z-index: 3;
      left: 7px;
      background-color: $btn-color;
      margin-left: 45px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      input {
        padding: 12.5px 0;
        width: 99%;
        padding-left: 15px;
        @extend %links;
        border: none;
        outline: none;
      }
    }
  }
  .hMain__search-icon {
    display: flex;
    padding: 10px 25px;
    background-color: $form-bordr;
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }
  &__list {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    .favourites {
      position: absolute;
      top: -11px;
      left: 59px;
    }
  }
  &__item {
    display: flex;
    padding-left: 24px;
    align-items: center;
    &:nth-child(1) {
      padding-right: 14px;
      border-right: 1px solid #e0e0e0;
    }
    &:nth-child(2) {
      padding-right: 14px;
      border-right: 1px solid #e0e0e0;
    }
    .icon {
      width: 18px;
      height: 16px;
    }
    a {
      @extend %links;
      color: $main-color;
    }
    .line {
      width: 0.5px;
      height: 24px;
    }
  }
}
@media only screen and (max-width: 1339px) {
  .header-main {
    &__category {
      margin-left: 30.88px;
      padding: 11px 18px 11px 16px;
      border-radius: 10px;
    }
    &__form {
      width: 450px;
      .hMain__select {
        margin-left: 10px;
      }
      label {
        margin-left: 25px;
        input {
          padding-left: 5px;
        }
      }
    }
  }
}
@media (max-width: 1073px) {
  .header-main {
    &__form {
      width: 390px;
      margin-right: 20px;
    }
  }
}
